
	<!-- Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0 -->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | Single :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/shop.css" type="text/css" />
	<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/owl.theme.css" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui1.css">
	<link href="/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen"/>
	<link href="/css/style.css" rel='stylesheet' type='text/css'/>
	<link href="/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">

		<style>
			
			.dropdown{
				position: relative;
				display: inline-block;
			}
			.dropdown-content{
				display: none;
				position: absolute;
				background-color: aqua;
				min-width: 160px;
				box-shadow: 0px 8px 16px 6px rgba(0, 0, 0,2);
				z-index: 1000;
				right: 0;

			}
			.dropdown-content a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				width: 100%;
			}
			.dropdown-content a:hover{
				background-color:whitesmoke;
			}
			.dropdown:hover .dropdown-content{
				display: block;
			}
			.header{
				position: relative;
				z-index: 500;
			}
		</style>



		
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<%-include("../../views/partials/user/header")%>
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="/">Home</a>
							<i>|</i>
						</li>
						<li>Single Page</li>
					</ul>
				</div>
			</div>

		</div>
		
	</div>
		<!--//banner -->
		<!--/shop-->
		<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container">
				<div class="inner-sec-shop pt-lg-4 pt-3">
					<div class="row">
						<div class="col-lg-4 single-right-left">
							<div class="grid images_3_of_2">
								<div class="flexslider1">
									<ul class="slides">
										<% if (products.productImage && products.productImage.length > 0) { %>
											<% products.productImage.forEach((image, index) => { %>
												<li data-thumb="/uploads/re-images/<%= image %>">
													<img src="/uploads/re-images/<%= image %>" data-imagezoom="true" class="img-fluid" alt="Product Image <%= index + 1 %>">
												</li>
											<% }) %>
										<% } else { %>
											<li>
												<p>No images available</p>
											</li>
										<% } %>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
						</div>
						<div class="col-lg-8 single-right-left simpleCart_shelfItem">
							<h3> <%= products.productName %>(<%= products.color %>)</h3>
							<!-- <p>
								<span class="price">₹<%= products.salePrice %></span>
							</p>
							   -->

							   <p>
								<%  if (products.salePrice < products.regularPrice) { %>
								
								  <span class="item_price">₹<%= products.salePrice %></span>
								  <del>₹<%= products.regularPrice %></del>
								<% } else { %>
								  
								  <span class="item_price">₹<%= products.regularPrice %></span>
								<% } %>
							  </p>
							  <!-- <span class="text-muted">
								<strike>₹<%= products.regularPrice.toLocaleString('en-IN') %></strike>
							  </span> -->
							
							<div class="color-quality">
								<div style="display: flex; align-items: center;">
									<h5 style="margin-right: 10px;">Category:</h5>
									<p style="margin: 0;">
										<%= products.category? products.category.name : 'No Category' %>
									</p>
								</div>
								<div style="display: flex; align-items: center;">
									<h5 style="margin-right: 10px;">Brand :</h5>
									<p style="margin: 0;">
										<%= products.brand? products.brand.name : 'No Brand' %>
									</p>
								</div>

							</div>
							
							
							<div class="occasional">
							
							</div>
							<div class="product_sort_info font-xs mb-30">
								<ul class="list-none">
									<li class="mb-10 flex items-center"><i class="fi-rs-crown mr-5"></i> 1 Year Warranty</li>
									<li class="mb-10 flex items-center"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
									<li class="flex items-center"><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
								</ul>
							</div>

							
							

							<div class="occasion-cart">
								<div class="googles single-item singlepage" style="display: flex; gap: 10px;">
																			
																		
						
														

									<form id="addToCartForm-<%= products._id %>" onsubmit="return false;">
										<input type="hidden" name="productId" value="<%= products._id %>">
										<select id="quantity-<%= products._id %>" class="frm-field required sect">
											<option value="1">1 Qty</option>
											<option value="2">2 Qty</option>
											<option value="3">3 Qty</option>
											<option value="4">4 Qty</option>
											<option value="5">5 Qty</option>
										</select>
										<button type="button" class="googles-cart pgoogles-cart" data-product-id="<%= products._id %>" onclick="addToCart('<%= products._id %>')">
											Add to Cart
										</button>
									</form>
									<!-- <form id="addToWishlistForm-<%= products._id %>" onsubmit="return false;">
										<input type="hidden" name="productId" value="<%= products._id %>">
										<button type="button" class="googles-cart pgoogles-cart" onclick="">
											<i class="fas fa-heart"></i>
										</button>
									</form> -->
									<form id="addToWishlistForm-<%= products._id %>" onsubmit="return false;">
										<input type="hidden" name="productId" value="<%= products._id %>">
										<button type="button" class="googles-cart pgoogles-cart" onclick="addToWishlist('<%= products._id %>')">
											<i class="fas fa-heart"></i>
										</button>
									</form>
								</div>
								<ul class="product-meta font-xs color-grey mt-50">
									
									<li>Availability:<span class="in-stock text-success ml-5">
										<%= products.status === 'Out of Stock' ? 'Out of Stock' : products.quantity + ' Items in Stock' %>
									</span></li>
								</ul>

							</div>
							
							<ul class="footer-social text-left mt-lg-4 mt-3">
								<li>Share On : </li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-facebook-f"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-twitter"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-google-plus-g"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-linkedin-in"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fas fa-rss"></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
						<!--/tabs-->
						<div class="responsive_tabs"  style="width: 500px;">
							<div id="horizontalTab" >
								<ul class="resp-tabs-list">
									<li>Description</li>
								</ul>
								<div class="resp-tabs-container">
									<!--/tab_one-->
									<div class="tab1">
										<div class="single_page">
											<h6 ><%= products.description %>...</h6>
											<p></p>
										</div>
									</div>
									<!--//tab_one-->
									
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<!--//tabs-->
					</div>	
				</div>
				<br>
			</div>
			<!-- Related Products Section -->
<!-- Related Products Section -->


</div>

		</section>
		<!--footer -->
		<%-include("../../views/partials/user/footer")%>
		<!-- //footer -->
		<!--jQuery-->
		<script src="/js/jquery-2.2.3.min.js"></script>
		<!-- newsletter modal -->
		<!--search jQuery-->
		<script src="/js/modernizr-2.6.2.min.js"></script>
		<script src="/js/classie-search.js"></script>
		<script src="/js/demo1-search.js"></script>
		<script src="/js/jquery-2.2.3.min.js"></script>
        <script src="/js/imagezoom.js"></script>
        <script src="/js/jquery.flexslider.js"></script>
		<!--//search jQuery-->
		<!-- cart-js -->
		<script src="/js/minicart.js"></script>
		<script>
			googles.render();

			googles.cart.on('googles_checkout', function (evt) {
				var items, len, i;

				if (this.subtotal() > 0) {
					items = this.items();

					for (i = 0, len = items.length; i < len; i++) {}
				}
			});
		</script>
		<!-- //cart-js -->
		<script>
			$(document).ready(function () {
				$(".button-log a").click(function () {
					$(".overlay-login").fadeToggle(200);
					$(this).toggleClass('btn-open').toggleClass('btn-close');
				});
			});
			$('.overlay-close1').on('click', function () {
				$(".overlay-login").fadeToggle(200);
				$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
				open = false;
			});
		</script>
		<!-- carousel -->
		<!-- price range (top products) -->
		<script src="/js/jquery-ui.js"></script>
		<script>
			//<![CDATA[ 
			$(window).load(function () {
				$("#slider-range").slider({
					range: true,
					min: 0,
					max: 9000,
					values: [50, 6000],
					slide: function (event, ui) {
						$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
					}
				});
				$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

			}); //]]>
		</script>
		<!-- //price range (top products) -->

		<script src="/js/owl.carousel.js"></script>
		<script>
			$(document).ready(function () {
				$('.owl-carousel').owlCarousel({
					loop: true,
					margin: 10,
					responsiveClass: true,
					responsive: {
						0: {
							items: 1,
							nav: true
						},
						600: {
							items: 2,
							nav: false
						},
						900: {
							items: 3,
							nav: false
						},
						1000: {
							items: 4,
							nav: true,
							loop: false,
							margin: 20
						}
					}
				})
			})
		</script>

		<!-- //end-smooth-scrolling -->

		<!-- single -->
		<script src="/js/imagezoom.js"></script>
		<!-- single -->
		<!-- script for responsive tabs -->
		<script src="/js/easy-responsive-tabs.js"></script>
		<script>
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default',          
					width: 'auto', 
					fit: true,
					closed: 'accordion', 
					activate: function (event) { 
						var $tab = $(this);
						var $info = $('#tabInfo');
						var $name = $('span', $info);
						$name.text($tab.text());
						$info.show();
					}
				});
				$('#verticalTab').easyResponsiveTabs({
					type: 'vertical',
					width: 'auto',
					fit: true
				});
			});
		</script>
		<!-- FlexSlider -->
		<script src="js/jquery.flexslider.js"></script>
		<script>
			$(window).on('load', function() {
				$('.flexslider1').flexslider({
					animation: "slide",
					controlNav: "thumbnails",
					start: function(slider) {
						slider.resize();
					}
				});
			});
		</script>
	<!-- <script>
		$(window).on('load', function() {
			$('.flexslider1').imagesLoaded(function() {
				$('.flexslider1').flexslider({
					animation: "slide",
					controlNav: "thumbnails",
					controlNav: true, // Show navigation controls (dots)
					directionNav: true, // Show prev/next arrows
					slideshow: true, // Enable automatic sliding
					slideshowSpeed: 5000, // Time interval between slides in milliseconds
					animationSpeed: 600, // Animation speed for sliding transition
					start: function(slider) {
						slider.resize();
					}
				});
			});
		});
	</script> -->

		<!-- //FlexSlider-->

		<!-- dropdown nav -->
		<script>
			$(document).ready(function () {
				$(".dropdown").hover(
					function () {
						$('.dropdown-menu', this).stop(true, true).slideDown("fast");
						$(this).toggleClass('open');
					},
					function () {
						$('.dropdown-menu', this).stop(true, true).slideUp("fast");
						$(this).toggleClass('open');
					}
				);
			});
		</script>
		<!-- //dropdown nav -->
	<script src="/js/move-top.js"></script>
    <script src="/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->


		<script src="/js/bootstrap.js"></script>
		<!-- js file -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>


<script>
	async function addToCart(productId) {
    // Get the selected quantity from the dropdown
    const quantitySelect = document.getElementById(`quantity-${productId}`);
    const quantity = quantitySelect.value; // Get the selected quantity

    try {
        const response = await fetch('/add-cart', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId, quantity }) 
        });

        if (response.ok) {
            const result = await response.json();
            const addToCartButton = document.querySelector(`.googles-cart.pgoogles-cart[data-product-id="${productId}"]`);

            if (result.alreadyInCart) {
                // If the product is already in the cart, redirect to the cart page
                window.location.href = '/cart'; // Change this to your cart URL
            } else {
                // Change button text to "Go to Cart"
                addToCartButton.textContent = 'Go to Cart';
                addToCartButton.onclick = () => {
                    window.location.href = '/cart'; // Redirect to cart when clicked
                };

                Swal.fire({
                    title: 'Added to Cart!',
                    text: result.message || 'The product was added to your cart.',
                    icon: 'success',
                    confirmButtonText: 'Continue Shopping',
                    timer: 3000,
                    timerProgressBar: true
                })
                .then(() => {
                    window.location.reload();
                });
            }
        } else {
            const errorData = await response.json();
            Swal.fire({
                title: 'Error',
                text: errorData.message || 'Error adding product to cart.',
                icon: 'error',
                confirmButtonText: 'Try Again'
            });
        }
    } catch (error) {
        console.error('Error adding to cart:', error);
        Swal.fire({
            title: 'Error',
            text: 'An error occurred. Please try again later.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
}

// async function addToCart(productId ,quantity) {

  
//     try {
//         const response = await fetch('/add-cart', { 
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json',
//             },
//             body: JSON.stringify({ productId })
//         });

       
        
//         if (response.ok) {
//             const result = await response.json();
//             Swal.fire({
//                 title: 'Added to Cart!',
//                 text: result.message || 'The product was added to your cart.',
//                 icon: 'success',
//                 confirmButtonText: 'Continue Shopping',
//                 timer: 3000,
//                 timerProgressBar: true
//             })
//             .then(() => {
        
//         window.location.reload();
//       });
//         } else {
//             const errorData = await response.json();
//             Swal.fire({
//                 title: 'Error',
//                 text: errorData.message || 'Error adding product to cart.',
//                 icon: 'error',
//                 confirmButtonText: 'Try Again'
//             });
//         }
//       } catch (error) {
//         console.error('Error adding to cart:', error);
//         Swal.fire({
//             title: 'Error',
//             text: 'An error occurred. Please try again later.',
//             icon: 'error',
//             confirmButtonText: 'OK'
//    		});
// 	}
// }




function updateCartItemCount(count) {
  const cartCountElement = document.querySelector('.cart-count');
  if (cartCountElement) {
    if (count > 0) {
      cartCountElement.textContent = count;
      cartCountElement.style.display = 'inline';
    } else {
      cartCountElement.textContent = '';
      cartCountElement.style.display = 'none';
    }
  }
}

document.addEventListener('DOMContentLoaded', function() {
  const cartCountElement = document.querySelector('.cart-count');
  if (cartCountElement) {
    const initialCount = parseInt(cartCountElement.textContent, 10);
    updateCartItemCount(initialCount || 0);
  }
});
		</script>

<script>
    function addToWishlist(productId) {
        const form = document.getElementById(`addToWishlistForm-${productId}`);
        const formData = new FormData(form);
    
        fetch("/add-wishlist", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(formData)),
            credentials: 'include'
        })
        .then(response => {
            return response.json().then(data => {
                if (!response.ok) {
                    throw data;
                }
                return data;
            });
        })
        .then(data => {
            if (data.message === 'Item already in wishlist') {
                Swal.fire({
                    icon: 'info',
                    title: 'Already in Wishlist',
                    text: 'This item is already in your Wishlist.'
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message
                });
            }
            if (data.wishlistItemsCount) {
                updateWishlistItemCount(data.wishlistItemsCount);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            if (error.error === 'Please login to add items to Wishlist') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Authentication Required',
                    text: 'Please login to add items to Wishlist',
                    showCancelButton: true,
                    confirmButtonText: 'Login',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/login';
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error.error || 'An error occurred, please login and try again'
                });
            }
        });
    }

    function updateWishlistItemCount(count) {
        const wishlistCountElement = document.getElementById('wishlistItemCount');
        if (wishlistCountElement) {
            wishlistCountElement.textContent = count;
        }
    }
</script>