<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | Shop :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/loginIcon.css">
	<link href="css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/shop.css" type="text/css" />
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">


		<style>
			.product-name {
    display: inline-block;
    max-width: 150px; /* Adjust as per your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.product-name:hover {
    text-decoration: none;
    cursor: pointer;
}

/* Tooltip styling */
.product-name[title]:hover:after {
    content: attr(title);
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
    line-height: 1.2;
}

		</style>
</head>

<body>
	<div class="banner-top container-fluid" id="home">

        <%-include("../../views/partials/user/header")%>

    </div>
		<!-- banner -->
		<div class="banner_inner" >
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="/home">Home</a>
							<i>|</i>
						</li>
						<li>Shop</li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
		<!--/shop-->
		<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container-fluid">
				<div class="inner-sec-shop px-lg-4 px-3">
					<h3 class="tittle-w3layouts my-lg-4 mt-3">New Arrivals for you </h3>
					<div class="row">
						<!-- product left -->
						<div class="side-bar col-lg-3">
							<div class="search-hotel">
								<h3 class="agileits-sear-head">Search Here..</h3>
								<form id="searchForm" action="/shop" method="get" class="d-flex">
									<input id="searchInput" class="form-control" type="search" name="searchQuery" 
										   placeholder="Search here..." value="<%= searchQuery %>" >
									<button class="btn1">
										<i class="fas fa-search"></i>
									</button>
									<div class="clearfix"></div>
								</form>
							</div>
							<!-- price range -->
							<form action="/shop" method="GET">
								<input type="hidden" name="searchQuery" value="<%= searchQuery %>">
								<!-- <div class="col-md-6 mb-3" id="categoryField">
									<label for="category" class="form-label">Select Category</label>
									<select class="form-control" id="category" name="category" onchange="this.form.submit()">
										<option value="">--Select Category--</option>
										<% categories.forEach(function(category) { %>
											<option value="<%= category._id %>" 
													<%= category._id == selectedCategory ? 'selected' : '' %>>
												<%= category.name %>
											</option>
										<% }); %>
									</select>
								</div> -->
							
								<div class="col-md-6 mb-3">
                  <label for="sortBy" class="form-label">Sort By</label>
                  <select class="form-control" name="sortBy" onchange="this.form.submit()">
                      <option value="">Default Sorting</option>
                      <option value="priceLowToHigh" <%= sortBy === 'priceLowToHigh' ? 'selected' : '' %>>
                          Price: Low to High
                      </option>
                      <option value="priceHighToLow" <%= sortBy === 'priceHighToLow' ? 'selected' : '' %>>
                          Price: High to Low
                      </option>
                      <option value="aToZ" <%= sortBy === 'aToZ' ? 'selected' : '' %>>
                          Name: A to Z
                      </option>
                      <option value="zToA" <%= sortBy === 'zToA' ? 'selected' : '' %>>
                          Name: Z to A
                      </option>
                  </select>
              </div>
                
							</form>
						
							
							
						</div>
					
						
						<div class="left-ads-display col-lg-9">
							<div class="wrapper_top_shop">
								<div class="category-list my-3">
									<h5>Featured categories</h5>
									<div class="d-flex flex-wrap">
										<a href="/shop" class="btn btn-outline-primary m-1 <%= !selectedCategory ? 'active' : '' %>">
											All
										</a>
										<% categories.forEach(function(category) { %>
											<a href="/shop?category=<%= category._id %>&searchQuery=<%= searchQuery %>&sortBy=<%= sortBy %>"
											   class="btn btn-outline-primary m-1 <%= category._id == selectedCategory ? 'active' : '' %>">
												<%= category.name %>
											</a>
										<% }); %>
									</div>
								</div>


								
								<% if (message) { %>
									<h5><%= message %></h5> 
								<% } else { %>
								<div class="row">
									<% products.forEach(product => { %>
										<div class="col-md-3 product-men women_two shop-gd">
											<div class="product-googles-info googles">
												<div class="men-pro-item">
													<div class="men-thumb-item">
                           							 <img src="/uploads/re-images/<%= product.productImage[0] %>" alt="<%= product.productName %>" />
														
														<div class="men-cart-pro">
															
															<div class="inner-men-cart-pro">
																<a href="/product-details/<%= product._id %>" class="link-product-add-cart">Quick View</a>
															</div>
															
														</div>
														
														<!-- <span class="product-new-top">New</span> -->
													</div>
													<div class="item-info-product">
														<div class="info-product-price">
															<div class="grid_meta">
																<div class="product_price">
																	
																	<h4>
																		<a href="/product/<%= product._id %>" class="product-name" title="<%= product.productName %>">
																			<%= product.productName %>
																		</a>
																	</h4>
																		<p> <%= product.brand.name %></p>
																		<p>
																			Price: ₹<%= product.salePrice.toLocaleString('en-IN') %>
																			<span class="text-muted">
																				<strike>₹<%= product.regularPrice.toLocaleString('en-IN') %></strike>
																			</span>
																		</p>
																		</a>
																		
																	
																	
																	  
																</div>
									
																  
																								  
															</div>
															<div class="googles single-item hvr-outline-out">
															
																<form id="addToCartForm-<%= product._id %>" onsubmit="return false;">
																	<input type="hidden" name="productId" value="<%= product._id %>">
																	<input type="hidden" name="quantity" value="1">
																	<button type="button" class="googles-cart pgoogles-cart" onclick="addToCart('<%= product._id %>')">
																	  <i class="fas fa-cart-plus"></i>
																	</button>
																  </form>
																  <form id="addToWishlistForm-<%= product._id %>" onsubmit="return false;">
																	<input type="hidden" name="productId" value="<%= product._id %>">
																	<button type="button" class="googles-cart pgoogles-cart" onclick="addToWishlist('<%= product._id %>')">
																		<i class="fas fa-heart"></i>
																	</button>
																</form>
																
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									<% }) %>
								</div>
								<% } %>

								
							    <div class="pagination-container">
									<% if (currentPage > 1) { %>
										<a href="?page=<%= currentPage - 1 %>&searchQuery=<%= searchQuery %>&sortBy=<%= sortBy %>&category=<%= selectedCategory %>">&laquo; Previous</a>
									<% } %>
									<% for (let i = 1; i <= totalPages; i++) { %>
										<% if (i === currentPage) { %>
											<span class="current-page"><%= i %></span>
										<% } else { %>
											<a href="?page=<%= i %>&searchQuery=<%= searchQuery %>&sortBy=<%= sortBy %>&category=<%= selectedCategory %>"><%= i %></a>
										<% } %>
									<% } %>
									<% if (currentPage < totalPages) { %>
										<a href="?page=<%= currentPage + 1 %>&searchQuery=<%= searchQuery %>&sortBy=<%= sortBy %>&category=<%= selectedCategory %>">Next &raquo;</a>
									<% } %>
								</div>

						<!--//product right-->
					</div>
					
				<!-- </div>
			</div> -->
		</section>
		<!--footer -->
		<%-include("../../views/partials/user/footer")%>
		
		<!-- //footer -->

		<!--jQuery-->
		<script src="js/jquery-2.2.3.min.js"></script>
		<!-- newsletter modal -->
		<!--search jQuery-->
		<script src="js/modernizr-2.6.2.min.js"></script>
		<script src="js/classie-search.js"></script>
		<script src="js/demo1-search.js"></script>
		<!--//search jQuery-->
		<!-- cart-js -->
		<script src="js/minicart.js"></script>
		<script>
			googles.render();

			googles.cart.on('googles_checkout', function (evt) {
				var items, len, i;

				if (this.subtotal() > 0) {
					items = this.items();

					for (i = 0, len = items.length; i < len; i++) {}
				}
			});
		</script>
		<!-- //cart-js -->
		<script>
			$(document).ready(function () {
				$(".button-log a").click(function () {
					$(".overlay-login").fadeToggle(200);
					$(this).toggleClass('btn-open').toggleClass('btn-close');
				});
			});
			$('.overlay-close1').on('click', function () {
				$(".overlay-login").fadeToggle(200);
				$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
				open = false;
			});
		</script>
		<!-- carousel -->
		<!-- price range (top products) -->
		<script src="js/jquery-ui.js"></script>
		<script>
			//<![CDATA[ 
			$(window).load(function () {
				$("#slider-range").slider({
					range: true,
					min: 0,
					max: 9000,
					values: [50, 6000],
					slide: function (event, ui) {
						$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
					}
				});
				$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

			}); //]]>
		</script>
		<!-- //price range (top products) -->

		<script src="js/owl.carousel.js"></script>
		<script>
			$(document).ready(function () {
				$('.owl-carousel').owlCarousel({
					loop: true,
					margin: 10,
					responsiveClass: true,
					responsive: {
						0: {
							items: 1,
							nav: true
						},
						600: {
							items: 2,
							nav: false
						},
						900: {
							items: 3,
							nav: false
						},
						1000: {
							items: 4,
							nav: true,
							loop: false,
							margin: 20
						}
					}
				})
			})
		</script>

		<!-- //end-smooth-scrolling -->


		<!-- dropdown nav -->
		<script>
			$(document).ready(function () {
				$(".dropdown").hover(
					function () {
						$('.dropdown-menu', this).stop(true, true).slideDown("fast");
						$(this).toggleClass('open');
					},
					function () {
						$('.dropdown-menu', this).stop(true, true).slideUp("fast");
						$(this).toggleClass('open');
					}
				);
			});
		</script>
		<!-- //dropdown nav -->
		<script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

		<script src="js/bootstrap.js"></script>
		<!-- js file -->

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>

<script>
	function addToCart(productId) {
  const form = document.getElementById(`addToCartForm-${productId}`);
  const formData = new FormData(form);

  fetch("/add-cart", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(Object.fromEntries(formData)),
    credentials: 'include'
})
.then(response => {
    // Always parse the JSON response
    return response.json().then(data => ({
        ok: response.ok, // Pass the response status
        data
    }));
})
.then(({ ok, data }) => {
    if (!ok) {
        throw data; // This will trigger the catch block for non-2xx statuses
    }

    if (data.message === 'Item already in cart') {
        Swal.fire({
            icon: 'info',
            title: 'Already in Cart',
            text: 'This item is already in your cart.'
        });
    } else {
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: data.message
        });
    }

    if (data.cartItemsCount !== undefined) {
        updateCartItemCount(data.cartItemsCount);
    }
})
.catch(error => {
    console.error('Error:', error);
    if (error.message === 'Please login') {
        Swal.fire({
            icon: 'warning',
            title: 'Authentication Required',
            text: 'Please login to add items to cart',
            showCancelButton: true,
            confirmButtonText: 'Login',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/login';
            }
        });
    } else {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: error.message || 'An error occurred, please try again.'
        });
    }
});

	}
function updateCartItemCount(count) {
  const cartCountElement = document.querySelector('.cart-count');
  if (cartCountElement) {
    if (count > 0) {
      cartCountElement.textContent = count;
      cartCountElement.style.display = 'inline';
    } else {
      cartCountElement.textContent = '';
      cartCountElement.style.display = 'none';
    }
  }
}

document.addEventListener('DOMContentLoaded', function() {
  const cartCountElement = document.querySelector('.cart-count');
  if (cartCountElement) {
    const initialCount = parseInt(cartCountElement.textContent, 10);
    updateCartItemCount(initialCount || 0);
  }
});
		</script>

<script>

	function updateProductList(products) {
		const productContainer = document.getElementById('productContainer'); 
		productContainer.innerHTML = ''; 
	
		products.forEach(product => {
			const productElement = document.createElement('div');
			productElement.classList.add('product');
			productElement.innerHTML = `
				<h3>${product.productName}</h3>
				<p>${product.description}</p>
				<p>Price: ₹${product.salePrice}</p>
			`;
			productContainer.appendChild(productElement);
		});
	}
	
	</script>


<script>
    function addToWishlist(productId) {
        const form = document.getElementById(`addToWishlistForm-${productId}`);
        const formData = new FormData(form);
    
        fetch("/add-wishlist", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(formData)),
            credentials: 'include'
        })
        .then(response => {
            return response.json().then(data => {
                if (!response.ok) {
                    throw data;
                }
                return data;
            });
        })
        .then(data => {
            if (data.message === 'Item already in wishlist') {
                Swal.fire({
                    icon: 'info',
                    title: 'Already in Wishlist',
                    text: 'This item is already in your Wishlist.'
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message
                });
            }
            if (data.wishlistItemsCount) {
                updateWishlistItemCount(data.wishlistItemsCount);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            if (error.error === 'Please login to add items to Wishlist') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Authentication Required',
                    text: 'Please login to add items to Wishlist',
                    showCancelButton: true,
                    confirmButtonText: 'Login',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/login';
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error.error || 'An error occurred, please login and try again'
                });
            }
        });
    }

    function updateWishlistItemCount(count) {
        const wishlistCountElement = document.getElementById('wishlistItemCount');
        if (wishlistCountElement) {
            wishlistCountElement.textContent = count;
        }
    }
</script>